<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user



<form th:action="@{/registration}" th:object="${user}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
   <!-- <div><input type="submit" value="Register"/></div> -->
    <button type="submit">Register</button>
</form>
</body>
</html>